
        <div class="row-fluid">
            <div class="span1"></div>

            <div class="span3 text-center">
                
                <h3>Players</h3>

                <div class="row-fluid">
                    <div class="span4" ng-repeat="player in playerNames">

                    </div>

                    <div class="span4"></div>
                </div>

            </div>

            <div class="span1"></div>
            <div class="span2 text-center">
                <h3>Active Black Card</h3>
                <div class="card dark">
                    <div class="card-body text-center dark">
                        {{ blackCardText }}
                    </div>
                    <div class="card-actions  text-center dark">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="span1"></div>
            <div class="span3 text-center">
                <h3>Chat</h3>
                
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="panel">
                                <div class="panel-body" id="chat-body">
                                    <ul class="chat">

                                        <li class="left clearfix">
                                            <span class="pull-left">
                                                13:39  &#60;Shinaku&#62; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </span>
                                        </li>

                                        <li class="left clearfix">
                                            <span class="pull-left">
                                                13:39  &#60;Shinaku&#62; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </span>
                                        </li>

                                        <li class="left clearfix">
                                            <span class="pull-left">
                                                13:39  &#60;Shinaku&#62; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </span>
                                        </li>

                                        <li class="left clearfix">
                                            <span class="pull-left">
                                                13:39  &#60;Shinaku&#62; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </span>
                                        </li>
                                    </ul>
                                    <div id="chat-box-bottom"></div>

                                </div>
                                
                            </div>
                            
                            <input type="text" />

                            </div>
                    </div>
                </div>
                
                
                
                

            </div>
            <div class="span1"></div>
        </div>

    <div class="navbar-fixed-bottom">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span5"></div>
                <div class="span2 text-center">
                    <h3>Your White Cards</h3>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span2 text-center" ng-repeat="gameCard in cardsInTopRow">

                    <div class="card game-card">
                        <div class="card-info">
                            <div class="desc">{{ gameCard.Text }}</div>
                        </div>
                        <div class="card-bottom">
                            <button class="btn btn-block" sends-answer-when-clicked guid="{{ gameCard.Guid }}">Play</button>
                        </div>
                    </div>



                </div>
                <div class="span1"></div>
            </div>
            
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span2 text-center" ng-repeat="gameCard in cardsInBottomRow">
                    
                    <div class="card game-card">
                        <div class="card-info">
                            <div class="desc">{{ gameCard.Text }}</div>
                        </div>
                        <div class="card-bottom">
                            <button class="btn btn-block" sends-answer-when-clicked guid="{{ gameCard.Guid }}">Play</button>
                        </div>
                    </div>


                </div>
                <div class="span1"></div>
            </div>

        </div>
    </div>
