    <div class="container-fluid">
        <div class="row-fluid">

            <div class="span3">

                <div class="sidebar-content">
                    <section>
                        <div class="container-fluid">

                            <div class="text-center">
                                <h3>Players</h3>
                            </div>

                            <div ng-repeat="player in players">
                                <div class="card user-card" ng-class="{'active-player-card': player.Guid == activePlayerGuid}">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <img src="http://www.gravatar.com/avatar/44368bdcd74a64ae91fe04490107d2e3.jpg?s=50" class="player-image" />
                                        </div>
                                        <div class="span7">
                                            <h3>{{ player.Name }}</h3>
                                        </div>
                                        <div class="span2">
                                            <span ng-show="{{ player.Guid == activePlayerGuid }}" class="label label-warning">Card Tsar</span>
                                            <span ng-show="{{ player.Guid == winningPlayerGuid }}" class="label label-success">Winner</span>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        </div>
                    </section>
                </div>

            </div>

            <div class="span6">

                <div id="blackCard" class="text-center">
                    <h2>"{{ blackCardText }}"</h2>
                    <p>asks Shinaku</p>
                </div>
                
                <div class="row-fluid">
                    <div class="span1"></div>

                    <div class="span2 text-center" ng-repeat="gameCard in shownCards">

                        <div class="card game-card">
                            <div class="card-info">
                                <div class="desc">{{ gameCard.Text }}</div>
                            </div>
                            <div class="card-bottom">
                                <button class="btn btn-block" ng-show="{{ playerGameGuid == activePlayerGuid }}" sends-card-when-clicked guid="{{ gameCard.Guid }}">Choose</button>
                            </div>
                        </div>

                    </div>

                    <div class="span1"></div>
                </div>

            </div>

            <div class="span3">

                <div class="sidebar-content">
                    <section>

                        <div class="text-center">
                            <h3>Chat</h3>
                        </div>

                        <div class="card">
                            <div class="panel-body" id="chat-body">
                                <div class="card-actions">
                                    <ul class="chat">
                                        <li class="left clearfix" ng-repeat="chatMessage in chatMessages">
                                            <div class="row-fluid">
                                                <div class="span3 text-center">
                                                    <img src="" class="img-polaroid" />
                                                    <p>{{ chatMessage.UserName }}</p>
                                                </div>
                                                <div class="span9">{{ chatMessage.Message }}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            <div id="chat-box-bottom"></div>

                            </div>  
                            <div class="card-bottom ">
                                <div class="row-fluid">
                                    <form ng-submit="sendChatMessage()">
                                        <div class="span1"></div>
                                        <div class="span8">
                                            <input type="text" placeholder="Enter message..." class="chat-box-enter" ng-model="newChatMessage"/>
                                        </div>
                                        <div class="span1"></div>

                                        <button class="btn" type="submit">Send</button>
                                    </form>
                                </div>
                                <div class="span1"></div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


<div class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <div class="container-fluid">
                    <div class="row-fluid">
                        
                        <div class="text-center"><h3>Your Cards</h3></div>
                        <div class="row-fluid">
                            <div class="span1"></div>
                            <div class="span2 text-center" ng-repeat="gameCard in cardsInTopRow">

                                <div class="card game-card">
                                    <div class="card-info">
                                        <div class="desc">{{ gameCard.Text }}</div>
                                    </div>
                                    <div class="card-bottom">
                                        <button class="btn btn-block" ng-hide="{{ playerGameGuid == activePlayerGuid }}" sends-card-when-clicked guid="{{ gameCard.Guid }}">Play</button>
                                    </div>
                                </div>

                            </div>

                            <div class="span1"></div>
                        </div>

                        <div class="row-fluid">
                            <div class="span1"></div>

                            <div class="span2 text-center" ng-repeat="gameCard in cardsInBottomRow">

                                <div class="card game-card">
                                    <div class="card-info">
                                        <div class="desc">{{ gameCard.Text }}</div>
                                    </div>
                                    <div class="card-bottom">
                                        <button class="btn btn-block" ng-hide="{{ playerGameGuid == activePlayerGuid }}"  sends-answer-when-clicked guid="{{ gameCard.Guid }}">Play</button> 
                                    </div>
                                </div>
                            </div>
                            <div class="span1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3"></div>
        </div>
     </div>
</div>