@*@model TomorrowComesToday.Web.Controllers.ViewModels.Home.IndexViewModel*@
@{
    ViewBag.Title = string.Empty;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12">
        <div class="text-center">
            <h4>tomorrow comes today</h4>
        </div>
    </div>