<div class="card dark">
    <div class="card-body text-center dark">
        In the future, where money is a thing of the past, what will be exchanged for goods and services?
    </div>
    <div class="card-actions  text-center dark">
        &nbsp;
    </div>
</div>