<h3>Chat</h3>
<div class="card">
    <div class="card-bottom">
        <div class="span1"></div>
        <div class="span10 text-left">

            <p>Guo_Si: Hey, you know what sucks?</p>
            <p>Phial: vaccuums</p>
            <p>Si: Hey, you know what sucks in a metaphorical sense?</p>
            <p>Phial: black holes</p>
            <p>Si: Hey, you know what just isn't cool?</p>
            <p>TheXPhial: lava?</p>
        </div>
    </div>
    <div class="card-bottom">
        <div class="container-fluid">
            <div class="span12">
                <input type="text" class="input-block-level" placeholder="Enter chat message" />
            </div>
        </div>
    </div>
</div>