.dark {
    background: dimgrey;
    color: whitesmoke
}

.player-list-control {
    background: whitesmoke;
}

/* Game Cards, modified from game-card Card inside BootPlus*/

.card.game-card {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 130px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.game-card:first-child {
  margin-left: 0;
}

.card.game-card .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 10px;
  background-color: #ffffff;
}

.card.game-card .card-top.green {
  background-color: #53a93f;
}

.card.game-card .card-top.blue {
  background-color: #427fed;
}

.card.game-card .card-info {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card.game-card .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.game-card .card-info .desc {
  display: block;   
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.game-card .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}