.dark {
    background: dimgrey;
    color: whitesmoke
}

.player-list-control {
    background: whitesmoke;
}

.player-image {
    height: 100%;
}

.chat-box-enter {
    z-index: 2000;
    width: 100%;
}

.active-player-card {
    background: #f2f0f2;
}

    /* Game Cards, modified from game-card Card inside BootPlus*/

#played-card-holder {
    height: 20em;
}

.card.game-card {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 9em;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.game-card.played {
    height: 11em;
}

.card.game-card:first-child {
  margin-left: 0;
}

.card.game-card .card-top {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 10px;
  background-color: #ffffff;
}

.card.game-card .card-top.green {
  background-color: #53a93f;
}

.card.game-card .card-top.blue {
  background-color: #427fed;
}

.card.game-card .card-info {
  position: relative;
  top: 15px;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card.game-card .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.game-card .card-info .desc {
  display: block;   
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.game-card .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* chat new */

.sidebar{
     
    background-color:#eee;
    background-repeat: repeat;
    padding:0;
    min-height:100% !important;
    position:relative;
   
}

.sidebar .sidebar-content{ 
    height:80%;
     width:100%;
    padding: 5px;
     margin:0;
    position:relative;
}

/* Chat box forked from - http://bootsnipp.com/snippets/featured/collapsible-chat-widget */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-scroll-body
{
    overflow-y: scroll;
}

.panel-body
{
    overflow-y: scroll;
    height: 20em;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
