<div class="col-md-5" id="Attendees">  
    <div class="panel panel-default">
        <div class="panel-heading">
            Attendees
            @*<div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-cog"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>*@
            @*</div>*@
        </div>
        <div class="panel-body">
            
            <div class="panel-body">
                <p>Are you going?</p>
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-success">Yup</a>
                    <a href="#" class="btn btn-default">Maybe</a>
                    <a href="#" class="btn btn-default">Nope</a>
                </div>
            </div>  
            
            <div class="panel-body">
                <p>Other</p>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#attending" data-toggle="tab">Yup</a></li>
                    <li><a href="#maybeattending" data-toggle="tab">Maybe</a></li>
                    <li><a href="#notattending" data-toggle="tab">Nope</a></li>
                </ul>
 
                <div class="tab-content">
                    
                    <div class="tab-pane active" id="attending">
                        <ul class="list-group" data-bind="foreach: Attendances">
                            <!-- ko if: Status == "attending"  -->
                            <li class="list-group-item clearfix">
                                <div class="col-md-3">
                                    <img src="http://gravatar.com/avatar/a3278c9fc3fe983c632edd3d8e95070d?size=40">
                                </div>
                                <div class="col-md-1">
                                    <h4 data-bind="text: Username" class="col-md-2"></h4>
                                </div>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                        

                    <div class="tab-pane" id="maybeattending">
                        <ul class="list-group" data-bind="foreach: Attendances">
                            <!-- ko if: Status == "maybeattending"  -->
                            <li class="list-group-item clearfix">
                                <div class="col-md-3">
                                    <img src="http://gravatar.com/avatar/a3278c9fc3fe983c632edd3d8e95070d?size=40">
                                </div>
                                <div class="col-md-1">
                                    <h4 data-bind="text: Username" class="col-md-2"></h4>
                                </div>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    

                    <div class="tab-pane" id="notattending">
                        <ul class="list-group" data-bind="foreach: Attendances">
                            <!-- ko if: Status == "notattending"  -->
                            <li class="list-group-item clearfix">
                                <div class="col-md-3">
                                    <img src="http://gravatar.com/avatar/a3278c9fc3fe983c632edd3d8e95070d?size=40">
                                </div>
                                <div class="col-md-1">
                                    <h4 data-bind="text: Username" class="col-md-2"></h4>
                                </div>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>