<div class="col-md-5" id="LiveChat">  
    <div class="panel panel-default">
        <div class="panel-heading">
            Live Chat
            @*<div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-cog"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>*@
        </div>
        <div class="panel-body">
            
            <ul class="list-group" data-bind="foreach: Messages">
                <li class="list-group-item clearfix">
                    <div class="clearfix">
                        <span class="col-md-2"><img src="http://www.gravatar.com/avatar/44368bdcd74a64ae91fe04490107d2e3?s=40&d=&r=g"/></span>
                        <h4 data-bind="text: Username" class="col-md-2"></h4>
                    </div>
                    <div class="col-md-10 col-lg-10 col-md-push-2">
                        <p data-bind="text: Message"></p>
                        <!-- controls -->
                        @*<span class="pull-right adminonly">
                            <a href="#"><i class="icon-eye-close" title="Hide comment"></i></a>
                            <a href="#"><i class="icon-trash" title="Delete comment"></i></a>
                        </span>
                        *@
                    </div>
                </li>
            </ul>
            

        </div>
        <div class="panel-footer">
            <form data-bind="submit: sendMessage">
                <div class="input-group">
                    <input type="text" class="form-control" data-bind="value: addMessageText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Send</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

